<template ngbModalContainer></template>
<template #content>
<!-- BODY -->
  <div class="modal-body">
    <form [formGroup]="modalForm" (ngSubmit)="save(modalForm.value, modalForm.valid)">
      <div class="form-group">
        Name:
        <input formControlName="name">  
        Date:
        <input formControlName="date">  
        Title Image:
        <input formControlName="title_image">
        Rating:
        <input formControlName="rating">
        Brand:
        <input formControlName="brand">
        Category:
        <input formControlName="category">
        Images:
        <input formControlName="image">

        Paragraphs:
        <ul formArrayName="paragraphs">
          <li *ngFor="let paragraph of modalForm.controls.paragraphs.controls; let i = index">
              {{i}}
              <input [formControlName]="i">
          </li>
        </ul>

        Pictures:
        <ul formArrayName="pictures">
          <li *ngFor='let picture of modalForm.controls.pictures.controls; let i = index'>
            <div [formGroupName]="i">
              {{i}}
              <input formControlName="filename">
              <input formControlName="description">
            </div>
          </li>
        </ul>

      </div> <!--End Group-->

      <button type="submit">Save</button>
    </form>
  </div>
</template>


<button class="btn btn-lg btn-outline-primary" (click)="openNew()">New Post</button>
<div *ngFor="let single of reviews">
  {{single?.name}}
  <button class="btn btn-lg btn-outline-primary" (click)="openOld(content,single)">Edit</button>
  <button class="btn btn-lg btn-outline-primary" (click)="deletePost(single?.name)">Delete</button>
</div>
