
<div></div>

<div class="reviewbackgroundd">
<div class="jumbotron text-center">
  <h1>This is the admin page</h1>
</div>
<div class="jumbotron container">
    <div class="row text-left">
    <div *ngFor="let post of posts" class="col-xs-8 col-xs-offset-2">
  
    <h3 [routerLink]="['/admin', post.title]">{{ post.title }}</h3>
    <p>{{ post.description }}</p>
    <img class="img-responsive" [src]="post.image">
    

   </div><!-- END COL -->
   </div><!-- END ROW -->
</div><!-- END CONTAINER-->

</div>
