<div style="padding-top: 100px"></div>

<div *ngFor="let review of reviews">
  <modal [reviewName]="review?.name" [review]="review"></modal>
  <div class="row">
    {{review?.date}}
  </div>
  <div class="row">
    {{review?.name}}
  </div>
  <div class="row">
    {{review?.brand}}
  </div>
  <div class="row">
    {{review?.category}}
  </div>
  <div class="row">
    {{review?.review}}
  </div>
  <div class="row">
    {{review?.image}}
  </div>
  <div *ngFor="let paragraph of review?.page_paragraphs">
    <div class="row">
      {{paragraph}}
    </div>
  </div>
  <div *ngFor="let picture of review?.pictures">
      {{picture.filename}}
      {{picture.description}}
  </div>
</div>
