
        <div class="intro-header" style="background:url('../images/homepage.jpg');background-size:cover"> 
            <div class="intro-message">
                <h1>{{title}}</h1>
                <hr class="intro-divider">
                <h3>Honest, but not your average lens reviews</h3>
             </div>
            <p>
                <a href="#">
                    <i class="fa fa-twitter fa-3x socialicons"></i>
                </a>
                <a href="#">
                    <i class="fa fa-facebook fa-3x socialicons"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram fa-3x socialicons"></i>
                </a>
                <a href="#">
                    <i class="fa fa-dribbble fa-3x socialicons"></i>
                </a>
            </p>
    </div>

<section>
    <div class="container-fluid primarybginverse">
        <div class="row">
        <div class="text-center col-xs-4 col-xs-offset-4">
        <h2>What are you looking for?</h2>
        </div><!-- end col -->
        </div><!-- end row -->
        <div class="row">
        <div class="text-center col-xs-8 col-xs-offset-2">
        <a href="#/" class="btn btn-default btn-xl">Nikon</a>
        <a href="#/" class="btn btn-default btn-xl">Canon</a>
        <a href="#/" class="btn btn-default btn-xl">Sigma</a>
        </div> <!-- end col -->
        </div> <!-- end row -->
    </div>
</section>
<router-outlet></router-outlet>
