<div class="hovereffect">
    <div class="overlay">
        <div class="intro-header"> 
            <div class="intro-message">
                <h1>Know Your Glass</h1>
                <hr class="intro-divider">
                <h3>Honest, but not your average lens reviews</h3>
             </div>
          <p>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fa fa-dribbble"></i>
                </a>
            </p>
        </div>
    </div>
</div>
<latestposts></latestposts>

