
<div class="primarybg container-fluid">
    <div class="row">
        <div class="col-xs-8 text-center col-xs-offset-2">
        <h2>Latest Posts:</h2>
        <hr class="latestposts">
        </div>
    </div>
</div> <!-- end container fluid -->
<!-- TESTING final latest posts -->
<section class="no-padding">
<div class="container-fluid">
    <div class="row no-gutter">
        <div ng-repeat="page in data.pageList">
        <div style="background: url(..{{page.image}}); background-size:cover;text-shadow:2px 3px 6px #000;" class="col-xs-4 latestpostbg" >
        <a ng-href="#reviews/{{page.name}}">
        <p class="latestposttext">{{page.name}}</p>
        </a>
        <hr>

        </div><!-- end ng repeat -->
    </div><!-- END ROW no-gutter -->
</div><!-- END CONTAINER -->
</section>

                <ul class="pager">
                    <li class="next">
                        <a href="#/">all previous posts</a>
                    </li>
                </ul>
</div><!-- end container -->

