



    <div class="container" style="padding-top:100px">

<div class="container">
  <div class="jumbotron col-xs-6 col-xs-offset-3 text-center">
    <h2>Gerry Testing Things</h2>
  </div><!-- end jumbotron -->
</div>

      <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
      <form class="form-signin" action="admin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      </div><!-- end col -->
      </div><!-- end row -->
    </div> <!-- /container -->
