<template ngbModalContainer></template>

<template #content>
<!-- HEADER -->
  <div class="modal-header">
  </div>

<!-- BODY -->
  <div class="modal-body">
    <form [formGroup]="modalForm" novalidate (ngSubmit)="save(modalForm.value, modalForm.valid)">
      <div class="form-group">
            <input formControlName="date">
            <input formControlName="rating">
            <input formControlName="brand">
            <input formControlName="category">
            <input formControlName="image">
<!--
          <div *ngFor="let paragraph of review.page_paragraphs">
              <input type="text" class="form-control" name="page_paragraph" id="page_paragraph" [ngModel]=paragraph>
          </div>
          <div *ngFor="let descriptions of review.picture_descriptions">
              <input type="text" class="form-control" name="picture_description" id="picture_description" [ngModel]=description>
          </div>
          <div *ngFor="let picture of review.pictures">
              <input type="text" class="form-control" name="picture" id="picture" [ngModel]=picture>
          </div>
-->
      </div>
      <button type="submit">Save</button>
    </form>
  </div>

<!-- FOOTER -->
  <div class="modal-footer">    
  </div>

</template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">{{reviewName}}</button>
