<template ngbModalContainer></template>

<template #content>
<!-- HEADER -->
  <div class="modal-header">
  </div>

<!-- BODY -->
  <div class="modal-body">
    <form [formGroup]="modalForm" novalidate (ngSubmit)="save(modalForm.value, modalForm.valid)">
      <div class="form-group">
            <input formControlName="date">
            <input formControlName="rating">
            <input formControlName="brand">
            <input formControlName="category">
            <input formControlName="image">
            <div *ngFor="let paragraph of paragraphs">
                <input formControlName="paragraph">
            </div>
            <div *ngFor="let pictures of modalForm.controls.pictures; let i=index" class="panel panel-default">
                <input formControlName="description">
                <input formControlName="pictures">
            </div>
      </div>
      <button type="submit">Save</button>
    </form>
  </div>

<!-- FOOTER -->
  <div class="modal-footer">    
  </div>

</template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">{{reviewName}}</button>
