<template ngbModalContainer></template>

<template #content>
<!-- BODY -->
  <div class="modal-body">
    <form [formGroup]="modalForm" (ngSubmit)="save(modalForm.value, modalForm.valid)">
      <div class="form-group">
            <input formControlName="name">  
            <input formControlName="date">  
            <input formControlName="title_image">
            <input formControlName="rating">
            <input formControlName="brand">
            <input formControlName="category">
            <input formControlName="image">
            <div *ngFor="let paragraph of paragraphs">
                <input formControlName="paragraph">
            </div>
            <div *ngFor="let picture of pictures">
                <input formControlName="picture.description">
                <input formControlName="picture.filename">
            </div>
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
</template>

<div *ngFor="let single of reviews">
  <button class="btn btn-lg btn-outline-primary" (click)="open(content,single)">{{single?.name}}</button>
</div>
