

<div class="reviewbackground" style="padding-top:100px">
<div *ngFor='let review of reviews'>
<div class="container">
  <div class="row">
   <div class="col-xs-8 col-xs-offset-2">
    <div class="jumbotron well text-center">
     {{ review.name }}
    </div><!-- end title -->
    <img class="img-responsive reviewimage" src="/images/{{review.pictures[2]}}">
    <div class="text posttext">
     {{ review.picture_descriptions[2] }}
    </div>  
    <div class="text posttext">
     {{ review.page_paragraphs[2]}}
    </div>
   </div><!-- end col -->
  </div><!-- end row -->

</div>
</div>



Single Review
<div *ngFor='let r of sreview'>
    {{ r.name }}
</div>

</div><!-- end review -->
