
<div ng-controller="reviewCtrl">
    <div class="container">
     <div class="jumbotron well text-center">
     <h1>Postheading</h1>
     <h3>Subheadings</h3>
     </div><!-- END Jumbotron -->
    
    <div class="row">
     <div class="col-lg-6">
      {{blogPostData.lensName}}
     </div><!-- COL END -->
     <div class="col-lg-6">
        <a href="{{blogPostData.lensIP}}" class="fancybox" rel="gallery">
            <img ng-src="{{blogPostData.lensIP}}"/>
        </a>
     </div><!-- COL END-->
    </div><!-- END ROW -->

    </div><!-- END CONTAINER -->
</div>
