<div class="reviewbackgroundd">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 reviewcolumn">
              <div class="text-center reviewheader" [ngStyle]="{'background-image':'url('+review?.image+')'}">
                <h1 class="reviewheadertop">{{review?.name}}</h1>
                <p class="reviewheaderbottom">Posted On: {{review?.date}}</p>
              </div>
              <div>
                {{review?.rating}}
              </div>
              <div>
                {{review?.brand}}
              </div>
              <div>
                {{review?.category}}
              </div>
            <div *ngFor='let picture of review?.pictures;let i = index'>
              <div>
                {{review?.page_paragraphs[i]}}
              </div>
              <div>
                {{review?.picture_descriptions[i]}}
              </div>
              <div>
                <img class="img-responsive" src="/images/{{picture}}"/>
              </div>



      </div><!-- end ngIf -->
      </div><!-- end ngFor -->
    </div><!-- end row -->
  </div> <!-- end container -->
</div><!-- end whole page -->
