<div class="row">
  <div class="col-lg-8">
    <div class="input-group">
      <input type="text" class="form-control" #searchBox placeholder="Search" (keyup)="search(searchBox.value)">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="search(searchBox.value)">Search</button>
      </span>
    </div>
  </div>
</div>
<div *ngFor="let review of reviews | async" (click)="openReview(review.name)">
  <button class="btn-secondary" type="button">{{review.name}}</button>
</div>  
