<div class="row">
  <div class="col-xs-2">
    <div class="form-group">
      <label for="brandSelect">Brand</label>
      <select class="form-control" id="brandSelect">
        <option>Any</option>
        <option>Nikon</option>
        <option>Canon</option>
      </select>
    </div>
    <div class="form-group">
      <label for="categorySelect">Category</label>
      <select class="form-control" id="categorySelect">
        <option>Any</option>
        <option>8-24mm Ultra Wide Angle</option>
        <option>24-35mm Wide Angle</option>
        <option>35-85mm Standard</option>
        <option>85-135mm Short Telephoto</option>
        <option>135-300mm Medium Telephoto</option>
        <option>300mm+ Super Telephoto</option>
      </select>
    </div>
    <div class="form-group">
      <label for="brandSelect">Sensor</label>
      <select class="form-control" id="brandSelect">
        <option>Any</option>
        <option>Crop</option>
        <option>Full Frame</option>
      </select>
    </div> 
    <div class="form-group">
      <label for="ratingSelect">Rating</label>
      <select class="form-control" id="ratingSelect">
        <option>Any</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="input-group">
      <input type="text" class="form-control" #searchBox placeholder="Search">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="search(searchBox.value)">Search</button>
      </span>
    </div>
  </div>
</div>
<div *ngFor="let review of reviews | async" (click)="openReview(review.name)">
  <button class="btn-secondary" type="button">{{review.name}}</button>
</div>  
