<!--
    name: {type: String, required:true, unique:true},
    brand: {type: String, required: true},
    catagory: {type: String, required: true},
    image: {type: String, required: true},
    pictures: [{type: String, required: true}],
    picture_descriptions: [{type: String, required: true}],
    page_paragraphs: [{type: String, required: true}],
    date: {type: String, required: true, unique:true},
    rating: {type: String, required: true}
-->

<div ng-controller="submissionCtrl">
    <div class="content_container">
        <input 
            class="page_title_form" 
            type="text" 
            ng-model="data.blogPostData.name"
            placeholder="Page Title"
        ></input>
        <div class="left_column">
            <input
                type="text"
                class="lens_image"
                ng-model="data.blogPostData.image"
                placeholder"Lens Image"
            ></input>
        </div>
        <div class="right_column">
            <div class="top_row">
                <select 
                    class="lens_brand" 
                    ng-model="data.blogPostData.brand">
                    <option ng-repeat="option in data.brandList" value="{{option.id}}">{{option.name}}</option>
                </select>
                <select 
                    class="lens_catagory" 
                    ng-model="data.blogPostData.catagory">
                    <option ng-repeat="option in data.catagoryList" value="{{option.id}}">{{option.name}}</option>
                </select>
                <select 
                    class="star_rating_form" 
                    ng-model="data.blogPostData.rating">
                    <option ng-repeat="option in data.starRatings" value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
        </div>
    </div>
<!-- TODO finish this repeat for adding multiple paragraphs -->
    <div>
        <ul class="page_paragraphs">
            <div ng-repeat="paragraph in data.page_paragraphs track by $index">
              <input type="text" ng-model="data.page_paragraphs[$index]">
            </div>
       </ul>
       <button ng-click="addMoreText()">+</button>
       <button ng-click="removeMoreText()">-</button>
    </div>
    <droplet ng-model="interface">
        <ul class="files">
            <li ng-repeat="file in interface.getFiles(interface.FILE_TYPES.VALID)">
                <droplet-preview ng-model="file"></droplet-preview>
                <div class="delete" ng-click="file.deleteFile()">&times;</div>
                <div class="size">{{file.file.size / 1024 / 1024 | number: 1}}MB</div>
            </li>
        </ul>
    </droplet>
<!-- TODO finish this repeat for adding multiple image descriptions -->
    <div>
        <ul class="picture_descriptions">
            <li ng-repeat="description in interface.getFiles(interface.FILE_TYPES.VALID) track by $index">
                <input type="text" ng-model="data.picture_descriptions[$index]">
            </li>
        </ul>
    </div>
    <button ng-click="interface.uploadFiles(); saveBlogPost()">Save and Submit Blog Post</button>
</div>
