<!--
    name: {type: String, required:true, unique:true},
    brand: {type: String, required: true},
    category: {type: String, required: true},
    image: {type: String, required: true},
    pictures: [{type: String, required: true}],
    picture_descriptions: [{type: String, required: true}],
    page_paragraphs: [{type: String, required: true}],
    date: {type: String, required: true, unique:true},
    rating: {type: String, required: true}
-->
<form ng-controller="submissionCtrl" style="padding-top:100px" ng-submit="save()">
        <div class="col-xs-4">
            <input required
                type="text" 
                class="form-control"
                ng-model="data.newData.date"
                placeholder="Post Date">
            </input>
        </div>
        <div class="col-xs-4">
            <input required
                type="text" 
                class="form-control"
                ng-model="data.newData.name"
                placeholder="Page Title">
            </input>
        </div>
        <div class="col-xs-4">
            <input required
                type="text"
                class="form-control"
                ng-model="data.newData.image"
                placeholder="Lens Image">
            </input>
        </div>
        <div class="row">
            <select required
                class="lens_brand" 
                ng-model="data.newData.brand">
                <option ng-repeat="option in data.formData.brandList" value="{{option.name}}">{{option.name}}</option>
            </select>
            <select required
                class="lens_category" 
                ng-model="data.newData.category">
                <option ng-repeat="option in data.formData.categoryList" value="{{option.name}}">{{option.name}}</option>
            </select>
            <select required
                class="star_rating_form" 
                ng-model="data.newData.rating">
                <option ng-repeat="option in data.formData.starRatings" value="{{option.id}}">{{option.name}}</option>
            </select>
        </div>
    </div>
    <droplet ng-model="interface" on-add="fileDropped(file)"></droplet>
    <div class="row">
        <div>
           <button type=button class="btn btn-primary" ng-click="addMoreText()">Add Paragraph</button>
           <button type=button class="btn btn-primary" ng-click="removeMoreText()">Remove Paragraph</button>
           <ul>
                <li ng-repeat="paragraph in data.formData.pageParagraphsIndex track by $index">
                  {{$index}}
                  <input required type="text" ng-model="data.newData.page_paragraphs[$index]">
                </li>
           </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <li ng-repeat="picture in data.newData.pictures track by $index">
                <img ng-src="{{data.pictures[$index]}}"/>
                <button class="btn btn-primary" type=button ng-click="removeDroppedFile($index)">Remove Picture/Description</button>
                <div class="form-group">
                    Filename:<textarea required class="form-control" rows="3" style="resize:none;" ng-bind="data.newData.pictures[$index]"></textarea>
                    Description:<textarea required class="form-control" rows="3" style="resize:none;" ng-model="data.newData.picture_descriptions[$index]"></textarea>
                </div>
            </li>
        </div>
    <input type="submit" value="Save"/>
</form>
