<div ng-controller="submissionCtrl">
    <div class="submission_form_container">
        <input 
            class="page_title_form" 
            type="text" 
            ng-model="data.blogPostData.lensName"
            placeholder="Page Title"
        ></input>
        <div class="left_column">
            <input
                type="text"
                class="lens_image_path"
                ng-model="data.blogPostData.lensIP"
                placeholder"Lens Image"
            ></input>
        </div>
        <div class="right_column">
            <div class="top_row">
                <select 
                    class="lens_brand" 
                    ng-model="data.blogPostData.lensBrand">
                    <option ng-repeat="option in data.brandList" value="{{option.id}}">{{option.name}}</option>
                </select>
                <select 
                    class="lens_catagory" 
                    ng-model="data.blogPostData.lensCatagory">
                    <option ng-repeat="option in data.catagoryList" value="{{option.id}}">{{option.name}}</option>
                </select>
                <select 
                    class="star_rating_form" 
                    ng-model="data.blogPostData.ratingIP">
                    <option ng-repeat="option in data.starRatings" value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
            <div class="bottom_row">
                <textarea
                    class="summary_text"
                    ng-model="data.blogPostData.introSummary"
                    placeholder="Summary Text"
                ></textarea>
            </div>
        </div>
        <textarea
            class="start_text_form"
            ng-model="data.blogPostData.introSection"
            placeholder="Introduction Blog Text"
        ></textarea>
        <div class="left_column">
            <div class="top_row">
                <input
                    type="text"
                    class="image1l_form"
                    ng-model="data.blogPostData.left1IP"
                    placeholder="First Image: Left"
                ></input>
            </div>
            <div class="bottom_row"> 
                <textarea 
                    class="description1l_form"
                    ng-model="data.blogPostData.description1L"
                    placeholder="First Image Description: Left"
                ></textarea>
            </div>
        </div>
        <div class="right_column">
            <div class="top_row">
                <input
                    type="text"
                    class="image1r_form"
                    ng-model="data.blogPostData.right1IP"
                    placeholder="First Image: Right"
                ></input>
            </div>
            <div class="bottom_row">
                <textarea 
                    class="description1r_form"
                    ng-model="data.blogPostData.description1R"
                    placeholder="First Image Description: Right"
                ></textarea>
            </div>
        </div>
        <textarea
            class="middle_text_form"
            ng-model="data.blogPostData.middleSection"
            placeholder="Middle Blog Text"
        ></textarea>
        <div class="left_column">
            <div class="top_row">
                <input
                    type="text"
                    class="image2l_form"
                    ng-model="data.blogPostData.left2IP"
                    placeholder="Second Image: Left"
                ></input>
            </div>
            <div class="bottom_row">
                <textarea 
                    class="description2l_form"
                    ng-model="data.blogPostData.description2L"
                    placeholder="Second Image Description: Left"
                ></textarea>
            </div>
        </div>
        <div class="right_column">
            <div class="top_row">
                 <input
                    type="text"
                    class="image2r_form"
                    ng-model="data.blogPostData.right2IP"
                    placeholder="Second Image: Right"
                ></input>
            </div>
            <div class="bottom_row">
                <textarea 
                    class="description2r_form"
                    ng-model="data.blogPostData.description2R"
                    placeholder="Second Image Description: Right"
                ></textarea>
            </div>
        </div>
        <textarea
            class="end_text_form"
            ng-model="data.blogPostData.endSection"
            placeholder="End Blog Text"
        ></textarea>
    </div>
    <button ng-click="saveBlogPost()">Save and Submit Blog Post</button>
</div>
