
<div class="toolbar">

<!--
    <div class="tb_button_container">
        <a class="tb_button" href="#/"><button>Home</button></a>
    </div>
    <div class="tb_button_container">
        <button class="tb_button">These buttons are examples</button>
    </div>
    <div class="tb_button_container">
        <button class="tb_button">They do nothing</button>
    </div>
    <div class="tb_button_container">
        <button class="tb_button">But imagine if they did</button>
    </div>

-->

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav">
        <div class="container-fluid topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand topnav" href="#/">know<strong>yourglass</strong></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#/login">Login</a>
                    </li>
                    <li>
                        <a href="#/admin">Administrator</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</div>
