<head>
</head>

<body>
    <input 
        id="page_title_form" 
        class="page_title_form" 
        type="text" 
        ng-model"page_title"
    ></input>

    <input
        type="text"
        id="lens_image_path" 
        class="lens_image_path"
        ng-model="lens_image_path"
    ></input>

    <select 
        id="star_rating_form" 
        class="star_rating_form" 
        ng-model="star_rating"
    ></select>

    <textarea
        id="summary_text_form" 
        class="summary_text"
        ng-model="summary"
    ></textarea>

    <textarea
        id="start_text_form" 
        class="start_text_form"
        ng-model="start_text_form"
    ></div>

    <input
        type="text"
        id="image1l_form" 
        class="image1l_form"
        ng-model="image1l_path"
    ></input>

    <input
        type="text"
        id="image1r_form" 
        class="image1r_form"
        ng-model="image1r_path"
    ></input>

    <textarea 
        id="description1l_form" 
        class="description1l_form"
        ng-model="description1l"
    ></textarea>

    <textarea 
        id="description1r_form" 
        class="description1r_form"
        ng-model="description1r"
    ></textarea>

    <textarea
        id="middle_text_form" 
        class="middle_text_form"
        ng-model="middle_text_form"
    ></div>

    <input
        type="text"
        id="image2l_form" 
        class="image2l_form"
        ng-model="image2l_path"
    ></input>

    <input
        type="text"
        id="image2r_form" 
        class="image2r_form"
        ng-model="image2r_path"
    ></input>

    <textarea 
        id="description2l_form" 
        class="description2l_form"
        ng-model="description2l"
    ></textarea>

    <textarea 
        id="description2r_form" 
        class="description2r_form"
        ng-model="description2r"
    ></textarea>

    <textarea
        id="end_text_form" 
        class="end_text_form"
        ng-model="end_text_form"
    ></div>
</body>

<footer>
</footer>

