/* Drag and drop images */

droplet {
	display: block;
	width: 800px;
	height: 120px;
    margin-right: auto;
    margin-left: auto;
	background-color: #EEE;
}

droplet ul.files {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	list-style-type: none;
}

droplet ul.files li {
	width: 100px;
	height: 100px;
	padding: 1px;
	display: inline-block;
	position: relative;
	margin: 5px;
}

droplet ul.files li img.droplet-preview {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 96px;
	width: 96px;
	border: 1px solid white;
	display: block;
}

droplet ul.files li div.delete {
	background-color: rgba(0, 0, 0, .25);
	width: 50px;
	height: 50px;
	font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
	color: white;
	font-size: 25px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
	text-align: center;
	cursor: pointer;
	line-height: 50px;
	position: absolute;
	border-radius: 50%;
	z-index: 101;
	top: 25px;
	left: 25px;
	opacity: 0;
	transition: all .30s;
	transform: scale(0.5);
}

droplet ul.files li:hover div.delete {
	opacity: 1;
	transform: scale(1);
}

droplet ul.files li div.delete:hover {
	background-color: rgba(0, 0, 0, .45);
}

droplet ul.files li div.size {
	background-color: rgba(255, 255, 255, .5);
	position: absolute;
	bottom: 5px;
	right: 5px;
	pointer-events: none;
	font-size: 9px;
	font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
	padding: 1px 4px;
}


/* Home Page CSS */
.blog_post_link {
    width: 100px;
    height: 20px;
    padding: 10px;
}

/* Blog Post page CSS */
.submission_container {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}
.left_column {
    width: 50%;
    height: 400px;
    float: left;
}
.right_column {
    width: 50%;
    height: 400px;
    float: right;
}
.top_row {
    height: 50%;
}
.bottom_row {
    height: 50%;
}
.page_title {
    width: 100%;
} 
.lens_image {
    height: 100%;
    width: 100%;
}
.star_rating {
    width: 400px;
    margin: auto;
} 
.summary_text {
    width: 100%;
    height: 100%;
}
.start_text {
    width: 100%;
    height: 200px;
}
.image1l {
    width: 100%;
    height: 100%;
}
.image1r {
    width: 100%;
    height: 100%;
}
.description1l {
    width: 100%;
    height: 100%;
}
.description1r {
    width: 100%;
    height: 100%;
}
.middle_text {
    width: 100%;
    height: 200px;
}
.image2l {
    width: 100%;
    height: 100%;
}
.image2r {
    width: 100%;
    height: 100%;
}
.description2l {
    width: 100%;
    height: 100%;
}
.description2r {
    width: 100%;
    height: 100%;
}
.end_text {
    width: 100%;
    height: 200px;
}

/* Submission page CSS */
.submission_form_container {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}
.page_title_form {
    width: 100%;
} 
.lens_image_path {
    height: 100%;
    width: 100%;
}
.star_rating_form {
    width: 400px;
    margin: auto;
} 
.start_text_form {
    width: 100%;
    height: 200px;
}
.image1l_form {
    width: 100%;
    height: 100%;
}
.image1r_form {
    width: 100%;
    height: 100%;
}
.description1l_form {
    width: 100%;
    height: 100%;
}
.description1r_form {
    width: 100%;
    height: 100%;
}
.middle_text_form {
    width: 100%;
    height: 200px;
}
.image2l_form {
    width: 100%;
    height: 100%;
}
.image2r_form {
    width: 100%;
    height: 100%;
}
.description2l_form {
    width: 100%;
    height: 100%;
}
.description2r_form {
    width: 100%;
    height: 100%;
}
.end_text_form {
    width: 100%;
    height: 200px;
}
