/* Drag and drop images */

droplet {
	display: block;
	width: 800px;
	height: 120px;
    margin-right: auto;
    margin-left: auto;
	background-color: #EEE;
}

droplet ul.files {
    margin-left:25%;
    margin-right:25%;
	height: 150px;
	width: 50%;
	overflow-y: auto;
	list-style-type: none;
}

droplet ul.files li {
	width: 100px;
	height: 100px;
	padding: 1px;
	display: inline-block;
	position: relative;
	margin: 5px;
}

droplet ul.files li img.droplet-preview {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 96px;
	width: 96px;
	border: 1px solid white;
	display: block;
}

droplet ul.files li div.delete {
	background-color: rgba(0, 0, 0, .25);
	width: 50px;
	height: 50px;
	font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
	color: white;
	font-size: 25px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
	text-align: center;
	cursor: pointer;
	line-height: 50px;
	position: absolute;
	border-radius: 50%;
	z-index: 101;
	top: 25px;
	left: 25px;
	opacity: 0;
	transition: all .30s;
	transform: scale(0.5);
}

droplet ul.files li:hover div.delete {
	opacity: 1;
	transform: scale(1);
}

droplet ul.files li div.delete:hover {
	background-color: rgba(0, 0, 0, .45);
}

droplet ul.files li div.size {
	background-color: rgba(255, 255, 255, .5);
	position: absolute;
	bottom: 5px;
	right: 5px;
	pointer-events: none;
	font-size: 9px;
	font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
	padding: 1px 4px;
}

/* Background Gradient */

.bggrad {
    background-image: -webkit-linear-gradient(top, #004158, #a3aaab);
    background-image: -moz-linear-gradient(top, #023E54, #10AAC0);
    background-image: -o-linear-gradient(top, #023E54, #10AAC0);
    min-height: 100%;
    height: auto;
}

/* CSS for latest Posts */

.postheading {
    color: #333;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.postsubheading {
    margin: 0 0 10px;
    font-weight: 300;
    color: #333;
}
/* CSS for Login Page */
.error {
    color: red;
    padding-bottom:10px;
}

input.ng-invalid.ng-touched {
    border:2px solid #DA3637
}

input.ng-valid.ng-touched {
    border: 2px solid #509D12
}

.card {
  background: white;
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  text-align: center;
  position: relative;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}
input {
  width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  margin: 5px 0;
  font-weight: 100;
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
}

input[type=radio] {
  width: auto;
}
.meetings {
  padding-top: 10px;
}

.meetings h2 {
  padding-bottom: 5px;
}

.meetings .meeting {
  display: inline-block;
  padding: 10px 20px 10px 15px;
  margin: 3px 10px;
  border-radius: 4px;
  border: 1px solid #C5C5C5;


}

.textintro h1 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.meetings .meeting .btn {
  margin-right: 4px;
  padding: 1px 8px;
}

.meetings .meeting .text {
  display: inline-block;
  vertical-align: bottom;
}

.meetings .meeting .text a{
  text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 0;
    font-size: 1.3rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #C61C6F;
    color: white;
    background-color: #2D8BCF;
    background-size: 18px 18px;
    min-width: 28px;
    min-height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
}
/* Home Page CSS */

.intro-header {
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/sandrocks.jpg) no-repeat center center;
    background-size: cover;

}
.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    text-shadow:2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 3px 5px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 3px 3px 3px rgba(0,0,0,0.6);
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.background {
    height:100%;
    width:100%;
    background: #2989d8; 
    background: -moz-linear-gradient(-45deg, #2989d8 6%, #207cca 29%, #1e5799 60%, #7db9e8 87%); 
    background: -webkit-linear-gradient(-45deg, #2989d8 6%,#207cca 29%,#1e5799 60%,#7db9e8 87%);
    background: linear-gradient(135deg, #2989d8 6%,#207cca 29%,#1e5799 60%,#7db9e8 87%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#7db9e8',GradientType=1 );
}
.homepage_container {
    width: 100%;
    /* 820px semi-random number, tweak to best value? */
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.content_container {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}
.blog_post_link {
    width: 100%;
    /* 820px semi-random number, tweak to best value? */
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Blog Post page CSS */
.lens_image {
    height: 100%;
    width: 100%;
}
.lens_image img {
    height: 100%;
    width: 100%;
}
.left_column {
    width: 50%;
    height: 400px;
    position: relative;
    float: left;
}
.right_column {
    width: 50%;
    height: 400px;
    position: relative;
    float: right;
}
.top_row {
    height: 50%;
}
.bottom_row {
    height: 50%;
}
.page_title {
    width: 100%;
} 
.lens_image {
    height: 100%;
    width: 100%;
}
.star_rating {
    width: 400px;
    margin: auto;
} 
.summary_text {
    width: 100%;
    height: 100%;
}
.sample_image {
    width: 100%;
    height: 100%;
}
.sample_image img {
    width: 100%;
    height: 100%;
}
.description {
    width: 100%;
    height: 100%;
}
.blog_section {
    width: 100%;
    height: 200px;
    display: inline-block;
}
.text {
    font-family: Muli;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

/* Submission page CSS */
.page_title_form {
    width: 100%;
} 
.star_rating_form {
    width: 400px;
    margin: auto;
}

/* TOOLBAR CSS */
.toolbar {
    width:100%;
    height:20px;
}
.tb_button_container {
    width: 25%;
    float: left;
}
.tb_button {
    margin-left:25%;
    margin-right:25%;
}
/* Star ratings */
.rating0 {
   content:url(../images/rating/0stars.png);
}
.rating1 {
   content:url(../images/rating/1stars.png);
}
.rating2 {
   content:url(../images/rating/2stars.png);
}
.rating3 {
   content:url(../images/rating/3stars.png);
}
.rating4 {
   content:url(../images/rating/4stars.png);
}
.rating5 {
   content:url(../images/rating/5stars.png);
}
.rating6 {
   content:url(../images/rating/6stars.png);
}
.rating7 {
   content:url(../images/rating/7stars.png);
}
.rating8 {
   content:url(../images/rating/8stars.png);
}
.rating9 {
   content:url(../images/rating/9stars.png);
}
.rating10 {
   content:url(../images/rating/10stars.png);
}
/* Color Scheme */

/*
 * #30013E Deep Purple
 * #680894 Middle Purple
 * #BA7DAF Light Purple
 * #FFF800 Yellow
 * #E9A401 Orange-Yellow
 */

/* Modified Bootstrap */
a {
  color: #680894;
  text-decoration: none;
}
.navbar-default .navbar-brand {
  color: #30013E;
}

