/* Background Gradient */

.bggrad {
    background-image: -webkit-linear-gradient(top, #004158, #a3aaab);
    background-image: -moz-linear-gradient(top, #023E54, #10AAC0);
    background-image: -o-linear-gradient(top, #023E54, #10AAC0);
    min-height: 100%;
    height: auto;
}
/* Blog Post page CSS */
.lens_image {
    height: 100%;
    width: 100%;
}
.lens_image img {
    height: 100%;
    width: 100%;
}
.left_column {
    width: 50%;
    height: 400px;
    position: relative;
    float: left;
}
.right_column {
    width: 50%;
    height: 400px;
    position: relative;
    float: right;
}
.top_row {
    height: 50%;
}
.bottom_row {
    height: 50%;
}
.page_title {
    width: 100%;
} 
.lens_image {
    height: 100%;
    width: 100%;
}
.star_rating {
    width: 400px;
    margin: auto;
} 
.summary_text {
    width: 100%;
    height: 100%;
}
.sample_image {
    width: 100%;
    height: 100%;
}
.sample_image img {
    width: 100%;
    height: 100%;
}
.description {
    width: 100%;
    height: 100%;
}
.blog_section {
    width: 100%;
    height: 200px;
    display: inline-block;
}
.text {
    font-family: Muli;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

/* Submission page CSS */
.page_title_form {
    width: 100%;
} 
.star_rating_form {
    width: 400px;
    margin: auto;
}

/* TOOLBAR CSS */
.toolbar {
    width:100%;
    height:20px;
}
.tb_button_container {
    width: 25%;
    float: left;
}
.tb_button {
    margin-left:25%;
    margin-right:25%;
}

