/* Star ratings */
.rating0 {
   content:url(../css/rating/0stars.png);
}
.rating1 {
   content:url(../css/rating/1stars.png);
}
.rating2 {
   content:url(../css/rating/2stars.png);
}
.rating3 {
   content:url(../css/rating/3stars.png);
}
.rating4 {
   content:url(../css/rating/4stars.png);
}
.rating5 {
   content:url(../css/rating/5stars.png);
}
.rating6 {
   content:url(../css/rating/6stars.png);
}
.rating7 {
   content:url(../css/rating/7stars.png);
}
.rating8 {
   content:url(../css/rating/8stars.png);
}
.rating9 {
   content:url(../css/rating/9stars.png);
}
.rating10 {
   content:url(../css/rating/10stars.png);
}
