.recent-posts {
}
.recent-posts__block {
  height: 50%;
  position: relative;
  width: 100% !important;
  float: left;
}
.recent-posts__block__text {
  color: #FFFFFF;
  bottom:.5rem;
  left:0;
  position: absolute;
  background: linear-gradient(to left, rgba(0,0,0,0) , rgba(43, 43, 43, 0.82));
  padding-left: 2%;
  padding-right: 10%;
  font-size: 2rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
}

.fa-3x {
  font-size:2rem !important;
}
