@media (min-width:700px) {
	.site-header__menu-icon__content {
  	display:block;
  	position:absolute;
  	top:10px;
  	right:10px;
  	z-index: 2;
	}
	.site-header__menu-icon__content.gnav__show {
  	display:block !important;
	}	
  .recent-posts__block__text {
    font-size:2rem;
  }
  .site-header__menu-icon {
    display:none;
  }
	.collapsebtn {
		display:block;
	}
  .headerimg__text-content > h1 {
  	font-size: 7rem;
	}
	.headerimg__text-content h2 {
		font-size:2.5rem !important;
	}
	.fa-3x {
		font-size:3.5rem !important;
	}

	.gnav {
		display:inline !important;
	}
  .gnav__collapsed {
    display:none;
  }
}

@media (min-width:900px) {
	.recent-posts__block {
    width:50% !important;
    height:50%;
  }
}
