.gnav {
  display:none;
  position:absolute;
  top:10px;
  right:10px;
  z-index: 2;
}
.gnav-item {
  display:inline-block;
}

.site-header__menu-icon {
  width: 20px;
  height: 19px;
  position: absolute;
  z-index: 10;
  top: 19px;
  right: 30px;
}
.site-header__menu-icon__top {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #FFF;
}
.site-header__menu-icon__middle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #FFF;
}

.site-header__menu-icon__bottom {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #FFF;
}
.site-header__menu-icon__content {
  display:none;
  position:absolute;
  top:10px;
  right:10px;
  z-index: 2;
}
.gnav-item__collapsed {
	text-align:right;
	z-index: 10;
}
.gnav__collapsed {
	list-style-type: none;
  margin-top: 37px;
  transform: translateX(13%);
  width: 309px;
  background: rgba(0,0,0, .5);
}
.site-header__menu-icon__content.gnav__show {
	display:block !important;
}
