<template ngbModalContainer></template>
<template #content>
<!-- BODY -->
  <div class="modal-body">
    <file-upload></file-upload>
    <ckeditor
      [(ngModel)]="editorContent"
      [config]="{uiColor: '#FFFFFF'}"
      (change)="onChange($event)"
      (ready)="onReady($event)"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
      debounce="500">
    </ckeditor>
 
    <form [formGroup]="modalForm" (ngSubmit)="save(modalForm.value, modalForm.valid)">
     <div class="form-group">
        Title:
        <input formControlName="title">  
        Date:
        <input formControlName="date">  
        Title Image:
        <input formControlName="title_image">
        Brand:
        <select class="form-control" formControlName="brand">
          <option *ngFor="let brand of list.brands" value= {{brand.value}}>
            {{brand.text}}
          </option>
        </select>
        Rating:
        <select class="form-control" formControlName="rating">
          <option *ngFor="let rating of list.ratings" value= {{rating.value}}>
            {{rating.text}}
          </option>
        </select>
        Category:
        <select class="form-control" formControlName="category">
          <option *ngFor="let category of list.categories" value= {{category.value}}>
            {{category.text}}
          </option>
        </select>
        Sensor:
        <select class="form-control" formControlName="sensor">
          <option *ngFor="let sensor of list.sensors" value= {{sensor.value}}>
            {{sensor.text}}
          </option>
        </select>
      </div> <!--End Group-->
      <button type="submit">Save</button>
    </form>
  </div>
</template>

<ngb-alert *ngIf="response" [dismissible]="true" type="{{alertType}}" (close)="response = null" style="margin-top:100px">
  {{response?.message}}
</ngb-alert>
<div style="margin-top:100px">
<button class="btn btn-lg btn-outline-primary" (click)="openNew(content)">New Post</button>

<div class="container">
  <div *ngFor="let single of reviews">
  <div class="row">
  <div class="col-xs-10 offset-xs-1 text-center">
  <div class="list-group">
    <div class="list-group-item">
    <h1>{{single.title}}</h1>
    <button class="btn btn-lg btn-info" (click)="openOld(content, single)">Edit</button>
    <button class="btn btn-lg btn-info" (click)="deleteReview(single?.name)">Delete</button>
    </div><!-- end list group item -->
  </div><!-- end list-group -->

  </div>
</div>
  </div><!-- end row -->
</div><!-- end container -->
</div>
