<template ngbModalContainer></template>
<template #content>
<!-- BODY -->
  <div class="modal-body">
    <file-upload></file-upload>
    <form [formGroup]="modalForm" (ngSubmit)="save(modalForm.value, modalForm.valid)">
     <div class="form-group">
        Title:
        <input formControlName="title">  
        Author:
        <input formControlName="author">  
        Post Date:
        <input formControlName="post_date">
        Edit Date:
        <input formControlName="edit_date">
        Title Image:
        <input formControlName="title_image">
        Brand:
        <select class="form-control" formControlName="brand">
          <option *ngFor="let brand of list.brands" value= {{brand.value}}>
            {{brand.text}}
          </option>
        </select>
        Rating:
        <select class="form-control" formControlName="rating">
          <option *ngFor="let rating of list.ratings" value= {{rating.value}}>
            {{rating.text}}
          </option>
        </select>
        Category:
        <select class="form-control" formControlName="category">
          <option *ngFor="let category of list.categories" value= {{category.value}}>
            {{category.text}}
          </option>
        </select>
        Sensor:
        <select class="form-control" formControlName="sensor">
          <option *ngFor="let sensor of list.sensors" value= {{sensor.value}}>
            {{sensor.text}}
          </option>
        </select>
        Review Content (Recommend Cut/Paste):
        <input formControlName="content">
      </div> <!--End Group-->
      <button type="submit">Save</button>
    </form>
  </div>
</template>

<ngb-alert *ngIf="response" [dismissible]="true" type="{{alertType}}" (close)="response = null" style="margin-top:100px">
  {{response?.message}}
</ngb-alert>
<div style="margin-top:100px">

  
  
<div class="container">
  <div class="row">
    <div class="col-xs-8 offset-xs-2 adminpostscontainer">
      <button class="btn btn-lg btn-outline-primary newpostbutton" (click)="openNew(content)">New Post</button>
        <div *ngFor="let single of reviews">
          <div [routerLink]="['/review/' + single.title]" class="list-group hoverpointer">
            <div class="list-group-item list-hover-highlight text-center">
              <h1>{{single.title}}</h1>
              <button class="btn btn-lg btn-info" (click)="openOld(content, single)">Edit</button>
              <button class="btn btn-lg btn-info" (click)="deleteReview(single?.name)">Delete</button>
            </div><!-- end list group item -->
          </div><!-- end list-group -->
        </div> <!-- end *ngFor -->
    </div><!-- end col -->
  </div><!-- end row -->
</div> <!-- end container -->
