<template ngbModalContainer></template>
<template #content>
<!-- BODY -->
  <div class="modal-body">
    <form [formGroup]="modalForm" (ngSubmit)="save(modalForm.value, modalForm.valid)">
      <div class="form-group">
        Name:
        <input formControlName="name">  
        Date:
        <input formControlName="date">  
        Title Image:
        <input formControlName="title_image">
        Brand:
        <select class="form-control" formControlName="brand">
          <option *ngFor="let brand of list.brands" value= {{brand.value}}>
            {{brand.text}}
          </option>
        </select>
        Rating:
        <select class="form-control" formControlName="rating">
          <option *ngFor="let rating of list.ratings" value= {{rating.value}}>
            {{rating.text}}
          </option>
        </select>
        Category:
        <select class="form-control" formControlName="category">
          <option *ngFor="let category of list.categories" value= {{category.value}}>
            {{category.text}}
          </option>
        </select>
        Images:
        <input formControlName="image">
        Paragraphs:<button type="button" class="btn" (click)="addParagraph()">+</button>
        <ul formArrayName="paragraphs">
          <li *ngFor="let paragraph of modalForm.controls.paragraphs.controls; let i = index">
              {{i}}
              <input [formControlName]="i">
          </li>
        </ul>
        Pictures:<button type="button" class="btn" (click)="addPicture()">+</button>
        <ul formArrayName="pictures">
          <li *ngFor='let picture of modalForm.controls.pictures.controls; let i = index'>
            <div [formGroupName]="i">
              {{i}}
              <input formControlName="filename">
              <input formControlName="description">
            </div>
          </li>
        </ul>
      </div> <!--End Group-->

      <button type="submit">Save</button>
    </form>
  </div>
</template>

<ngb-alert *ngIf="response" [dismissible]="true" type="{{alertType}}" (close)="response = null">
  {{response?.message}}
</ngb-alert>
<button class="btn btn-lg btn-outline-primary" (click)="openNew(content)">New Post</button>
<div *ngFor="let single of reviews?.data">
  <label>{{single?.name}}</label>
  <button class="btn btn-lg btn-outline-primary" (click)="openOld(content, single)">Edit</button>
  <button class="btn btn-lg btn-outline-primary" (click)="deleteReview(single?.name)">Delete</button>
</div>
