<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <img 
    routerLink="/" 
    routerLinkActive="active"
    style="background:url('../images/icon.png');background-size: 50px;" 
    class="kygicon"
  />
  <ul class="navbar-nav ml-auto _navbar-right">
    <li *ngIf="!this.tokenService.currentToken" class="nav-item">
      <a class="nav-link whitefont" routerLink="/reviews" routerLinkActive="active">Reviews</a>
    </li>
    <li *ngIf="!this.tokenService.currentToken" class="nav-item">
      <a class="nav-link whitefont" routerLink="/blogs" routerLinkActive="active">Blogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link whitefont" [routerLink]="[ {outlets: { modaloutlet: 'login' } } ]">Login</a>
    </li> 
    <li class="nav-item" *ngIf="this.tokenService.currentToken" (click)="logout()">
      <a class="nav-link whitefont" routerLinkActive="active">Logout</a>
    </li>
      <search-bar></search-bar>
  </ul>
</nav>
<div class="clearfix"></div>
<div>
  <router-outlet></router-outlet>
  <router-outlet name="modaloutlet"></router-outlet>
</div>
