<nav class="navbar navbar-light bg-faded">
  <img 
    routerLink="/" 
    routerLinkActive="active"
    class="kygicon"
  />
  <div (click)="toggleMenu()" class="site-header__menu-icon">
    <div class="site-header__menu-icon__top"></div>
    <div class="site-header__menu-icon__middle"></div>
    <div class="site-header__menu-icon__bottom"></div>
    <div class="underlay">
      
    </div>
  </div><!-- end collapse button -->
  <div><!-- start button content -->  
    <div [ngClass]="{'gnav__show': show}" class="site-header__menu-icon__content">
			<ul class="gnav__collapsed">
				<li class="gnav-item__collapsed">
					<a class="nav-link whitefont" routerLink="/reviews" routerLinkActive="active">Reviews</a>
				</li>
				<li class="gnav-item__collapsed">
					<a class="nav-link whitefont" routerLink="/blogs" routerLinkActive="active">Blogs</a>
				</li>
				<li class="gnav-item__collapsed" >
					<a class="nav-link whitefont" routerLink="/admin" routerlinkactive="active">login</a>
				</li>
				<li class="gnav-item__collapsed" (click)="logout()">
					<a class="nav-link whitefont" routerLink="/" routerlinkactive="active">logout</a>
				</li>
				<search-bar class="gnav-item__collapsed search__collapsed"></search-bar>
			</ul>
    </div>
  </div>
  <div>
    <ul class="gnav">
      <li class="gnav-item">
        <a class="nav-link whitefont" routerLink="/reviews" routerLinkActive="active">Reviews</a>
      </li>
      <li class="gnav-item">
        <a class="nav-link whitefont" routerLink="/blogs" routerLinkActive="active">Blogs</a>
      </li>
      <li class="gnav-item" >
        <a class="nav-link whitefont" routerLink="/admin" routerlinkactive="active">login</a>
      </li>
      <li class="gnav-item" (click)="logout()">
        <a class="nav-link whitefont" routerLink="/" routerlinkactive="active">logout</a>
      </li>
      <search-bar class="gnav-item"></search-bar>
    </ul>
  </div>
</nav>
<div class="clearfix"></div>
<div>
  <router-outlet></router-outlet>
  <router-outlet name="modaloutlet"></router-outlet>
</div>
