<div class="intro-header" style="background:url('../images/stacy-7.jpg');background-size:cover"> 
  <div class="intro-message">
    <h1>{{ title }}</h1>
    <hr class="intro-divider">
    <h3>Honest, but not average, lens reviews.</h3>
    <p class="socialcontainer">
      <a href="https://twitter.com/knowyourglass">
        <i class="fa fa-twitter fa-3x socialicons"></i>
      </a>
      <a href="https://www.facebook.com/knowyourglass">
        <i class="fa fa-facebook fa-3x socialicons"></i>
      </a>
      <a href="https://www.instagram.com/knowyourglass/">
        <i class="fa fa-instagram fa-3x socialicons"></i>
      </a>
    </p>
  </div><!-- end intro-message -->
</div><!-- end main header -->
<div *ngFor="let review of reviews; let i = index">
  <div *ngIf="i < 4" class="text-center postblocks" [ngStyle]="{'padding':'0','background-image': 'url('+review.title_image+')','background-size':'cover','background-position':'center'}">
        <a style="color:#fff" [routerLink]="['/review/' + review.name]"><h2 class="latestposttext">{{review.name}}</h2></a>
  </div>
</div><!-- end ngfor -->
