<div class="loginbg" style="background:url('../images/loginbg.jpg');background-size:cover">
<div class="loginbox"> 
<!--
    <div>
      <p>The token is: {{ [token] }} </p>
    </div>
-->
<form (ngSubmit)="processForm()" [formGroup]="form">
  <div class="form-group">
    <label  class="userandpass" for="username">Username</label>
    <input type="text" class="form-control" name="username" required
    formControlName="username">
    <span class="help-block" *ngIf="usernameErr">
    {{ usernameErr }}
    </span>
  </div>
  <div class="form-group">
    <label class="userandpass" for="password">Password</label>
    <input type="text" class="form-control" name="password" required
    formControlName="password">
    <span class="help-block" *ngIf="passErr">
    {{ passErr }}
    </span>

  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-info">Submit</button>
  </div>
</form>

</div><!-- end loginbox -->
</div><!-- end loginbg -->
