<div class="reviewbackgroundd">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2" style="border-radius:25px 25px 0 0;background-color:white;padding-left:0px;padding-right:0px">
        <div class="text-center" [ngStyle]="{'border-radius':'15px 15px 0 0','background-image':'url('+review?.title_image+')', 'background-size':'cover', 'background-position':'center'}">
          <h1 class="reviewheadertop">{{review?.name}}</h1>
          <p class="reviewheaderbottom">Posted On: {{review?.date}}</p>
        </div>
        <div>
          {{review?.rating}}
        </div>
        <div>
          {{review?.brand}}
        </div>
        <div>
          {{review?.category}}
        </div>
        <div>
          {{review?.sensor}}
        </div>
        <!-- XSS Vulnerability Issue #83-->
        <div [innerHtml]="review?.content"></div>
      </div><!-- end ngIf -->
    </div><!-- end row -->
  </div> <!-- end container -->
</div><!-- end whole page -->
