<div *ngIf="review" class="reviewheadercontainer">
  <button class="slide-button fa fa-comments fa-3" (click)="toggleSlideState()"></button>
  <div class="slide-menu" [@slide]="sideBarState">
    <disqus 
      [shortname]="disqusShortName" 
      [identifier]="review._id" 
      [title]="review.title" 
      [url]="pageUrl" 
      [lang]="'en'"
    ></disqus> 
  </div>
  <div class="reviewpostheader">
    <div class="reviewheadercontent">
      <h1>{{ review.title }}</h1>
      <p>Published: {{ review.date }}</p>
      <p>Author: {{ review.author }}</p>
    </div>
  </div><!-- end reviewpostheader -->
  <div class="reviewpostcontent">
			<ul class="specstable">
				<div class="specstablecol">
					<li class="list-group-item">
						Rating: {{review.rating}}
					</li>
					<li class="list-group-item">
						Brand: {{review.brand}}
					</li>
				</div>
				<div class="specstablecol">
					<li class="list-group-item">
						Category: {{review.category}}
					</li>
					<li class="list-group-item">
						Sensor: {{review.sensor}}
					</li>
				</div>
			</ul>

     <div [innerHtml]="review.content | safeHtml"></div>
  </div>
</div>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=20a7c607-b24a-4181-9c34-0c3ffdcbd119&storeId=kyg-20"></script>
