<pre> {{params | json}}</pre>
<div class="row">
  <div class="col-xs-2">
    <div class="form-group">
      <label for="brandSelect">Brand</label>
      <select class="form-control" [(ngModel)]="params.brand">
        <option *ngFor="let brand of list.brands" value= {{brand.value}}>
          {{brand.text}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="categorySelect">Category</label>
      <select class="form-control" [(ngModel)]="params.category">
        <option *ngFor="let category of list.categories" value= {{category.value}}>
          {{category.text}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="sensorSelect">Sensor</label>
      <select class="form-control" [(ngModel)]="params.sensor">
        <option *ngFor="let sensor of list.sensors" value= {{sensor.value}}>
          {{sensor.text}}
        </option>
      </select>
    </div> 
    <div class="form-group">
      <label for="ratingSelect">Rating</label>
      <select class="form-control" [(ngModel)]="params.rating">
        <option *ngFor="let rating of list.ratings" value= {{rating.value}}>
          {{rating.text}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="row">
      <div class="input-group">
        <input type="text" class="form-control" #searchBox placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" (click)="search(searchBox.value, params)">Search</button>
        </span>
      </div>
    <div class="row">
      <div *ngFor="let review of reviews | async" (click)="openReview(review.name)">
        <button class="btn-secondary" type="button">{{review.name}}</button>
      </div>
    </div>
  </div>
</div> 
